<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!--Thong so cua file Template-->
    <add key="PathFileTemplate" value="TEMPLATE\TEMPLATE_2.xlsx" />
    <add key="RISO" value="RISO" />
    <add key="OKIDENKI" value="OKIDENKI" />
    <add key="KYOCERA" value="KYOCERA" />
    <add key="KM" value="KM" />
    <add key="ALL" value="ALL" />
    <add key="DATA_ERROR" value="DATA_ERROR" />

    <!--Thong so cua file Diem dan-->
    <add key="FILE_DD_COL_MAT" value="C" />
    <add key="FILE_DD_COL_MODEL" value="B" />
    <add key="FILE_DD_COL_KH" value="A" />
    <add key="FILE_DD_COL_QTY" value="AN" />

    <!--Thong so cua file loi-->
    <add key="FILE_ERROR_COL_MODEL" value="D" />
    <add key="FILE_ERROR_COL_KH" value="Q" />
    <add key="FILE_ERROR_COL_MAT" value="F" />
    <add key="FILE_ERROR_COL_QTYERROR" value="K" />
    <add key="FILE_ERROR_COL_TYPEITEM" value="H" />
    <add key="FILE_ERROR_COL_CONTENT" value="J" />
    <add key="FILE_ERROR_COL_NAME_ERR_KH" value="R" />

    <add key="TEXT_COMMENT" value="&quot;&lt;!--Thong so cua file Template--&gt;
&lt;add key=\&quot;PathFileTemplate\&quot; value=\&quot;TEMPLATE\TEMPLATE_2.xlsx\&quot; /&gt;
&lt;add key=\&quot;RISO\&quot; value=\&quot;RISO\&quot; /&gt;
&lt;add key=\&quot;OKIDENKI\&quot; value=\&quot;OKIDENKI\&quot; /&gt;
&lt;add key=\&quot;KYOCERA\&quot; value=\&quot;KYOCERA\&quot; /&gt;
&lt;add key=\&quot;KM\&quot; value=\&quot;KM\&quot; /&gt;
&lt;add key=\&quot;ALL\&quot; value=\&quot;ALL\&quot; /&gt;
&lt;add key=\&quot;DATA_ERROR\&quot; value=\&quot;DATA_ERROR\&quot; /&gt;

&lt;!--Thong so cua file Diem dan--&gt;
&lt;add key=\&quot;FILE_DD_COL_MAT\&quot; value=\&quot;C\&quot; /&gt;
&lt;add key=\&quot;FILE_DD_COL_MODEL\&quot; value=\&quot;B\&quot; /&gt;
&lt;add key=\&quot;FILE_DD_COL_KH\&quot; value=\&quot;A\&quot; /&gt;
&lt;add key=\&quot;FILE_DD_COL_QTY\&quot; value=\&quot;AN\&quot; /&gt;

&lt;!--Thong so cua file loi--&gt;
&lt;add key=\&quot;FILE_ERROR_COL_MODEL\&quot; value=\&quot;D\&quot; /&gt;
&lt;add key=\&quot;FILE_ERROR_COL_KH\&quot; value=\&quot;Q\&quot; /&gt;
&lt;add key=\&quot;FILE_ERROR_COL_MAT\&quot; value=\&quot;F\&quot; /&gt;
&lt;add key=\&quot;FILE_ERROR_COL_QTYERROR\&quot; value=\&quot;K\&quot; /&gt;
&lt;add key=\&quot;FILE_ERROR_COL_TYPEITEM\&quot; value=\&quot;H\&quot; /&gt;
&lt;add key=\&quot;FILE_ERROR_COL_CONTENT\&quot; value=\&quot;J\&quot; /&gt;&quot;" />
  </appSettings>

</configuration>