<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!--Thong so cua file Template-->
    <add key="PathFileTemplate" value="TEMPLATE\TEMPLATE_2.xlsx" />
    <add key="ALL_ROW_TITLE_ERROR" value="2" />

    <add key="RISO" value="RISO" />
    <add key="RISO_COL_START" value="F" />
    <add key="RISO_COL_END" value="Q" />
    
    <add key="OKIDENKI" value="OKIDENKI" />
    <add key="OKIDENKI_COL_START" value="F" />
    <add key="OKIDENKI_COL_END" value="R" />

    <add key="KYOCERA" value="KYOCERA" />
    <add key="KYOCERA_COL_START" value="H" />
    <add key="KYOCERA_COL_END" value="T" />

    <add key="KM" value="KM" />
    <add key="KM_COL_START" value="J" />
    <add key="KM_COL_END" value="V" />

    <add key="ALL" value="ALL" />
    <add key="DATA_ERROR" value="DATA_ERROR" />

    <!--Thong so cua file Diem dan-->
    <add key="FILE_DD_COL_MAT" value="C" />
    <add key="FILE_DD_COL_MODEL" value="B" />
    <add key="FILE_DD_COL_KH" value="A" />
    <add key="FILE_DD_COL_QTY" value="AN" />
    <add key="FILE_DD_COL_POINTQTY" value="E" />

    <!--Thong so cua file loi-->
    <add key="FILE_ERROR_COL_MODEL" value="D" />
    <add key="FILE_ERROR_COL_KH" value="Q" />
    <add key="FILE_ERROR_COL_MAT" value="F" />
    <add key="FILE_ERROR_COL_QTYERROR" value="K" />
    <add key="FILE_ERROR_COL_TYPEITEM" value="H" />
    <add key="FILE_ERROR_COL_CONTENT" value="J" />
    <add key="FILE_ERROR_COL_NAME_ERR_KH" value="R" />


    <add key="TEXT_COMMENT" value="&lt;!-- &lt;add key=&quot;PathFileTemplate&quot; value=&quot;TEMPLATE\TEMPLATE_2.xlsx&quot; />
&lt;add key=&quot;ALL_ROW_TITLE_ERROR&quot; value=&quot;2&quot; />

&lt;add key=&quot;RISO&quot; value=&quot;RISO&quot; />
&lt;add key=&quot;RISO_COL_START&quot; value=&quot;F&quot; />
&lt;add key=&quot;RISO_COL_END&quot; value=&quot;Q&quot; />

&lt;add key=&quot;OKIDENKI&quot; value=&quot;OKIDENKI&quot; />
&lt;add key=&quot;OKIDENKI_COL_START&quot; value=&quot;F&quot; />
&lt;add key=&quot;OKIDENKI_COL_END&quot; value=&quot;R&quot; />

&lt;add key=&quot;KYOCERA&quot; value=&quot;KYOCERA&quot; />
&lt;add key=&quot;KYOCERA_COL_START&quot; value=&quot;H&quot; />
&lt;add key=&quot;KYOCERA_COL_END&quot; value=&quot;T&quot; />

&lt;add key=&quot;KM&quot; value=&quot;KM&quot; />
&lt;add key=&quot;KM_COL_START&quot; value=&quot;J&quot; />
&lt;add key=&quot;KM_COL_END&quot; value=&quot;V&quot; />

&lt;add key=&quot;ALL&quot; value=&quot;ALL&quot; />
&lt;add key=&quot;DATA_ERROR&quot; value=&quot;DATA_ERROR&quot; />

&lt;!--Thong so cua file Diem dan-->
&lt;add key=&quot;FILE_DD_COL_MAT&quot; value=&quot;C&quot; />
&lt;add key=&quot;FILE_DD_COL_MODEL&quot; value=&quot;B&quot; />
&lt;add key=&quot;FILE_DD_COL_KH&quot; value=&quot;A&quot; />
&lt;add key=&quot;FILE_DD_COL_QTY&quot; value=&quot;AN&quot; />
&lt;add key=&quot;FILE_DD_COL_POINTQTY&quot; value=&quot;E&quot; />

&lt;!--Thong so cua file loi-->
&lt;add key=&quot;FILE_ERROR_COL_MODEL&quot; value=&quot;D&quot; />
&lt;add key=&quot;FILE_ERROR_COL_KH&quot; value=&quot;Q&quot; />
&lt;add key=&quot;FILE_ERROR_COL_MAT&quot; value=&quot;F&quot; />
&lt;add key=&quot;FILE_ERROR_COL_QTYERROR&quot; value=&quot;K&quot; />
&lt;add key=&quot;FILE_ERROR_COL_TYPEITEM&quot; value=&quot;H&quot; />
&lt;add key=&quot;FILE_ERROR_COL_CONTENT&quot; value=&quot;J&quot; />
&lt;add key=&quot;FILE_ERROR_COL_NAME_ERR_KH&quot; value=&quot;R&quot; /> --&gt;" />


  </appSettings>

</configuration>